<section class="footer">
  @if (nPlayers === 1) {
    <app-card-information class="footer-card" [value]="timeFormat()" direction="row" title="Time" />
    <app-card-information class="footer-card" [value]="moves().toString()" direction="row" title="Moves" />
  } @else {
    @for (player of players; track player.index) {
      <!-- <app-card-information class="footer-card" [selected]="true" title="Moves" value="39" /> -->
      <app-card-information class="footer-card" [title]="`P${player.index}`" [value]="`${player.moves}`" />
    }
  }
</section>
