<div
  class="flip-card"
  [ngClass]="cardClasses"
  [class.temporal-selected]="temporalSelected"
  [class.selected]="selected"
  [attr.aria-label]="getAriaLabel()"
  [attr.aria-pressed]="temporalSelected || selected"
  (click)="click()"
  (keydown)="keydown($event)"
  tabindex="0"
  role="button">
  <div class="flip-card__inner">
    <div class="flip-card__front"></div>
    <div class="flip-card__back">
      @if (useIcons) {
        <app-icon [iconId]="value" />
      } @else {
        <span>{{ value }}</span>
      }
    </div>
  </div>
</div>
