@use '../../../sass/utils/mixins' as *;

.button {
  @include text-preset-9;

  min-height: 48px;
  border-radius: 26px;
  width: 100%;

  @media screen and (min-width: 41em) {
    @include text-preset-5;
    min-height: 70px;
  }
}

.button--orange {
  background-color: var(--clr-orange-400);
  color: var(--clr-white);

  &:is(:focus, :hover, :active) {
    background-color: var(--clr-orange-300);
  }
}

.button--blue {
  background-color: var(--clr-blue-100);
  color: var(--clr-blue-800);

  &:is(:focus, :hover, :active) {
    background-color: var(--clr-blue-350);
    color: var(--clr-white);
  }
}

:host(.button--header) .button {
  @include text-preset-10;

  min-height: 40px;
  padding-inline: 15px;
  width: auto;

  @media screen and (min-width: 41em) {
    @include text-preset-8;
    min-height: 52px;
  }
}
