.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-width {
  width: 100%;
}
.txt-white {
  color: var(--clr-white);
}

.bg-white {
  background-color: var(--clr-white);
}

.txt-blue-950 {
  color: var(--clr-blue-950);
}

.bg-blue-950 {
  background-color: var(--clr-blue-950);
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.sr-announcer {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
