@use '../../../sass/utils/mixins' as *;

.modal-backdrop {
  @include backdrop;
}

.modal-result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-white);
  padding: 1rem;
  max-height: 95dvh;
  overflow: auto;
  z-index: 1000;
  border-radius: 10px;
  width: 100%;
  max-width: 327px;
  padding: 20px;

  &__title {
    @include text-preset-7;
    text-align: center;
    color: var(--clr-blue-950);
    margin-bottom: 10px;
  }

  &__information {
    @include text-preset-12;
    text-align: center;
    color: var(--clr-blue-400);
  }

  &__body {
    margin-block: 24px;
  }

  &__players {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    max-height: 25dvh;
    overflow: auto;
  }

  &__player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;

    min-height: 48px;
    background-color: var(--clr-blue-100);

    &.selected {
      background-color: var(--clr-blue-950);

      .player--title,
      .player--value {
        color: var(--clr-white);
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > * {
      flex: 1 1 0;
    }
  }

  .player--title {
    @include text-preset-12;
    color: var(--clr-blue-400);
  }

  .player--value {
    @include text-preset-8;
    color: var(--clr-blue-800);
  }
}

@media screen and (min-width: 40em) {
  .modal-result {
    max-width: 654px;
    padding: 54px;

    &__title {
      @include text-preset-2;
    }

    &__information {
      @include text-preset-9;
    }

    &__body {
      margin-block: 56px;
    }

    &__buttons {
      flex-direction: row;
    }

    &__players {
      gap: 20px;
      max-height: 45dvh;
    }

    &__player {
      border-radius: 10px;
      padding: 20px 30px;

      min-height: 72px;
      background-color: var(--clr-blue-100);
    }

    .player--title {
      @include text-preset-9;
    }

    .player--value {
      @include text-preset-5;
    }
  }
}
