@use '../../../../../sass/utils/mixins' as *;

:host(.board__header) {
  grid-area: header;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;

  &__title {
    @include text-preset-7;

    color: var(--clr-blue-950);
  }

  &__options--menu,
  &__options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__options--menu {
    display: none;
  }

  .header-backdrop {
    display: none;
  }

  @media screen and (max-width: 32em) {
    &.show-menu .header__options--menu {
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
      z-index: 1000;
      background: var(--clr-white);
      padding: 20px;
      align-items: center;
      border-radius: 10px;
      width: 100%;
      max-width: 327px;
      gap: 20px;

      .header--show-modal {
        width: 100%;
      }
    }

    &.show-menu .header-backdrop {
      display: block;
      @include backdrop;
    }
  }

  @media screen and (min-width: 32.0625em) {
    padding-block: 36px;

    &__options {
      flex-direction: row;
      align-items: center;
    }

    &__options--menu {
      display: flex;
      flex-direction: row;
    }

    &__title {
      @include text-preset-4;
    }

    .button--menu,
    .button--resume-game {
      display: none;
    }
  }
}
