<section class="table" [class.icons]="useIcons">
  <div class="table__grid" [ngClass]="gridClass">
    @for (allPair of allPairs; track allPair.index) {
      <app-flip-card
        [class]="classCard"
        [useIcons]="useIcons"
        [value]="allPair.value"
        [idx]="allPair.index"
        [temporalSelected]="allPair.temporalSelected ?? false"
        [selected]="allPair.selected ?? false"
        [size]="size"
        (selectedCard)="!allPair.selected && selectedCard(allPair.index)" />
    }
  </div>
</section>
